.default {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 0.6em;
    margin: 20px;
    padding: 1.2em 2.8em;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.default:hover {
    color: black;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    outline: 0;
}

.default:active {
    color: #fff;
    border: 2px solid #3498db;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    outline: 0;
}

.default:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    box-shadow: 0 0 10px 0 #666666 inset;
}

.red {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 0.6em;
    margin: 20px;
    padding: 1.2em 2.8em;
    color: #fff;
    box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.red:hover {
    color: black;
    box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
    outline: 0;
}

.red:active {
    color: #fff;
    border: 2px solid red;
    box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
    outline: 0;
}