.superInput {
    border: 3px solid black;
    margin-bottom: 10px;
}

.input:focus {
    outline: none;
}

.errorInput {
    border: 3px solid darkgray;
    background: red;
    margin-bottom: 10px;
}

.error {
    color: yellow;
    height: 21px;

}

.notError {
    color:  #b19064;
}